@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.movies {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;

	> a {
		max-width: 30%;
		animation: fade .5s ease-in-out;
	}

	> a:nth-child(3n) {
		margin-right: 0px;
	}
}

.button {
	background-color: $primary-color;
	color: $white-color;
	border-radius: 10px;
	transition: $transition;
	padding: 8px 40px;
	opacity: .7;

	&:hover {
		opacity: 1;
	}
}