
.movies {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;

	> a {
		max-width: 30%;
		animation: fade .5s ease-in-out;
	}

	> a:nth-child(3n) {
		margin-right: 0px;
	}
}

.button {
	background-color: #E30B13;
  color: #fff;
  border-radius: 10px;
  transition: background-color .3s ease-in-out;
	padding: 8px 40px
}
