@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.favorites {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 25px;
}

.containerLoader {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	

	.skeletonLoader {
		position: relative;
		margin-bottom: 32px;
		height: 176px;
		width: 31%;
	}
}

.itemWrapper {
	position: relative;
	display: flex;
	align-items: flex-end;
	animation: fade .5s ease-in-out;
	overflow: auto;
	transition: $transition;
	min-width: 270px;
	
	&:hover {
		transform: translate(0, -12px);
	}

	.item {
		position: relative;
		z-index: 1;
		width: 100%;
		border-radius: 12px;
		height: 176px;
		display: flex;
		align-items: end;
		box-shadow: 0,0,0,50 #000000;
		overflow: hidden;

		@include fade-bg-gradient(0deg);
		&::before {
			z-index: 2;
		}

		img {
			object-position: center;
			object-fit: cover;
			pointer-events: none;
		}

		.title {
			position: relative;
			z-index: 3;
			text-align: center;
			margin: 12px;
			width: 100%;
			font-weight: 600;
			color: $white-color;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
		}
	}

	> button {
		z-index: 3;
		display: block;
		left: -12px;
		top: -4px;
		right: auto;
	}
}
