@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.link {
	img {
		width: 133px;
		transition: $transition;
		
		&:hover {
			filter: drop-shadow(3px 3px 2px $primary-color);
		}
		
		@include desktopM{
			max-width: 100px;
		}
	}
}