@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.auth {
	margin-top: 44px;
	padding: 12px 20px;
	border-radius: 0.5rem/* 8px */;
	color: $white-color;

	@include desktopM{
		display: none;
	}
}

.movie {
	height: 7rem/* 112px */;
	margin-bottom: 1rem/* 16px */;
}