@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.auth {
	margin-top: 44px;
	padding: 12px 20px;
	border-radius: 8px;
	background-color: $gray-color-700;
	color: $white-color;

	@include desktopM{
		display: none;
	}
}

.movieLoader {
	height: 200px;
	margin-bottom: 16px;
	background-size: fill;
}