@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.selectContainer {
	position: relative;
	margin-bottom: 32px;
	animation: fade .5s ease-in-out;

	> label {
		display: block;

		> span {
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
			color: $gray-color-600;
			display: block;
			margin-bottom: 4px;
		}
	}
}
