@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.item {
	position: relative;
	display: flex;
	align-items: flex-end;
	border-radius: 12px;
	overflow: hidden;
	margin: 8px;
	transition: all ease-in-out .2s;
	width: 100%;

	&:hover {
		transform: translateY(-5px);
	}

	&.vertical {
		height: 250px;

		@media (max-width: 1200px){
			height: 250px;
		}
		@media (max-width: 992px){	
			height: 250px;
		}
		@media (max-width: 768px){
			height: 250px
		}
		@media (max-width: 480px){
			height: 200px;
		}
		@media (max-width: 320px){
			height: 100px;
		}
	}

	&.horizontal {
		margin-bottom: 32px;
		height: 176px;
	}

	&.withText {
		@include fade-bg-gradient(0deg);
		&::before {
			border-radius: 12px;
		}
	}

	img {
		object-position: center;
		object-fit: contain;
		pointer-events: none;
	}

	.content {
		position: relative;
		z-index: 2;
		text-align: center;
		margin: 12px;
		width: 100%;

		.title {
			font-weight: 600;
			margin-bottom: 4px;
			color: white;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
		}

		.subTitle {
			color: rgb(153 154 165 / 1);
			text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
		}
	}
}
