@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;

	.wrapper {
		position: relative;
		overflow: hidden;
		box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
		max-width: 700px;
		border-radius: 12px;

		.video {
			max-width: 100%;
			display: block;
		}
		.controls {
			position: absolute;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: space-between;
			bottom: 8px;
			left: 24px;
			right: 24px;
			
			@include mobileL {
				bottom: 3px;
				left: 12px;
				right: 12px;
			}

			> div:first-child {
				display: flex;
				align-items: center;
				justify-content: space-between;

				> button {
					background-color: transparent;
					font-size: 24px;
					line-height: 0;
					color: $white-color;
					outline: 2px solid transparent;
					outline-offset: 2px;
					opacity: 0.6;
					transition: $transition;
		
	
					&:hover {
						opacity: 1;
					}

					@include mobileL {
						font-size: 20px;
						margin-right: 5px;
					}
				}
	
				.playButton {
					font-size: 36px;
					line-height: 0;
					

					@include mobileL {
						font-size: 26px;
					}
				}
	
				.timeControls {
					display: flex;
					align-items: center;
					color:$white-color;
					margin-left: 16px;
					opacity: 0.6;
					
					@include mobileL {
						margin-left: 10px;
						font-size: 14px;
					}
					> p:nth-child(2) {
						margin-left: 8px;
						margin-right: 8px;

						@include mobileL {
							margin-left: 4px;
							margin-right: 4px;
						}
					}

				}
			}
	
			> div:last-child {
				display: flex;
				align-items: center;
	
				> button {
					color:$white-color;
					background-color: transparent;
					font-size: 30px;
					line-height: 0;
					outline: 2px solid transparent;
					outline-offset: 2px;
					opacity: 0.6;
					transition: $transition;
					
					@include mobileL {
						font-size: 25px;	
					}

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		.progressBarContainer {
			position: absolute;
			left: 16px;
			right: 16px;
			bottom: 56px;
			background-color: $gray-color-600;
			border-radius: 12px;
			height: 4px;
			width: calc(100% - 2rem);

			@include mobileL {
				left: 10px;
				right: 10px;
				bottom: 36px;
			}
	
			.progressBar {
				border-radius: 16px;
				height: 100%;
				background-color: $primary-color;

				@include mobileL {
					
				}
			}
		}
	}

}


