@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.menu {
	margin: 40px 0px;
	animation: fade .5s ease-in-out;
	
	.ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 10px;

		> li {
			padding: 10px 0px;

			> a {
				display: flex;
				align-items: center;
				color: $gray-color-600;
				cursor: pointer;

				@include desktopM{
					flex-direction: column;
				}
				
				> span {
					margin-left: 12px;
					font-size: $fz-lg;
  				line-height: 28px;
					&:hover {
						color: $gray-color-500;
					}

					@include desktopM{
						margin: 0;
						font-size: $fz-xxs;
						line-height: 12px;
					}
				}

				> svg {
					font-size: $fz-xxl;
				}

				> span,
				> svg {
					transition: $transition;
				}
			}

			&.active {
				> a > span {
					color: $white-color;
				}

				> a > svg {
					fill: $primary-color;
				}
			}
		}
	}
}
