@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.menu {
	margin: 40px 0px;
	animation: fade .5s ease-in-out;
	
	.heading {
		color: $gray-color-300;
		text-transform: uppercase;
		font-size: 7px;
  	line-height: 20px;
		font-weight: 600;

		@include desktopM {
			text-align: center;
			font-size: 12px;
			line-height: 12px;
		}
	}

	.ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 10px;

		> li {
			padding: 10px 0px;

			> a {
				display: flex;
				align-items: center;
				color: $gray-color-600;
				cursor: pointer;

				@include desktopM{
					flex-direction: column;
				}
				
				> span {
					margin-left: 12px;
					font-size: $fz-lg;
  				line-height: 28px;
					&:hover {
						color: $gray-color-500;
					}

					@include desktopM{
						margin: 0;
						font-size: $fz-xxs;
						line-height: 12px;
					}
				}

				> svg {
					font-size: $fz-xxl;
				}

				> span,
				> svg {
					transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
					transition-timing-function: ease-in-out;
					transition-duration: 200ms;
				}
			}

			&.active {
				> a > span {
					color: $white-color;
				}

				> a > svg {
					fill: $primary-color;
				}
			}
		}
	}
}
