@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.actions {
	display: flex;
	align-items: center;

	> button {
		outline: none;
  	border: none;
		background-color: transparent;
		font-size: $fz-xl;
		line-height: 0;
		color: $primary-color;
		opacity: .7;
		transition: $transition;

		:hover {
			opacity: 1;
		}
	}
}