@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.search {
	display: flex;
	align-items: center;
	border: 1px solid $gray-color-700;
	max-width: 220px;
	border-radius: 50px;
	padding: 8px 8px;
	transition: $transition;

	@include desktopM {
		max-width: 150px;
		padding: 6px 6px;	
	}

	> svg {
		fill: #66676E;
		margin-right: 8px;
		font-size: 30px;
  	line-height: 36px;
		transition: $transition;

		@include desktopM {
			margin-right: 8px;
			font-size: $fz-xl;
		}
	}

	> input {
		display: block;
		color: white;
		background-color: transparent;
		width: 100%;
		outline: 2px solid transparent;
 		outline-offset: 2px;
		

		&::placeholder {
			color: $gray-color-600;
		}

		@include desktopM {
			font-size: $fz-sm;
		}
	}

	&:focus-within {
		border-color: $gray-color-600;

		> svg {
			fill: #999AA5;
		}
	}

	:hover {
		max-width: 220px;
	}
}

