@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 32px;

	> button {
		@apply bg-primary bg-opacity-80;
		background-color: $primary-color;
	}
	//?
}
