@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.144);
	font-size: $fz-xxl;
	padding: 8px;
	animation: fade .5s ease-in-out;
	position: absolute;
	z-index: 20;
	backdrop-filter: blur(2px);
	color: white;

	@include tabletL{
		font-size: $fz-xl;
		padding: 4px;
	}
	@include mobileL{
		font-size: $fz-lg;
		padding: 3px;
	}
	@include mobileS{
		font-size: $fz-md;
		padding: 3px;
	}
}

