@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	.wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 28px;
		height: 100%;
		background-color:$gray-color-950;
		box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
		border-radius: 12px;
		
		@include desktopM {
			padding: 28px;
		}
		@include tabletL {
			padding: 28px;
		}
		@include mobileL {
			padding: 20px;
		}
		@include mobileS {
			padding: 28px;
		}
	
		> p {
			color: #fff;
			margin-bottom: 12px;
			font-size: $fz-lg;
			opacity: 0.6;

			@include desktopM {
				font-size: $fz-lg;
				margin-bottom: 12px;
			}
			@include tabletL {
				font-size: $fz-lg;
				margin-bottom: 12px;
			}
			@include mobileL {
				font-size: $fz-lg;
				margin-bottom: 12px;
			}
			@include mobileS {
				font-size: $fz-lg;
				margin-bottom: 12px;
			}
		}
	
		> div {
			font-size: 36px;
			opacity: 0.9;

			@include desktopM {
				font-size: 36px;
			}
			@include tabletL {
				font-size: 36px;
			}
			@include mobileL {
				font-size: 36px;
			}
			@include mobileS {
				font-size: 36px;
			}
		}
	
		> .thanks {
			color: $yellow-color-700;
			font-size: 30px;
			font-weight: 600;
			animation: scaleIn .35s ease-in-out;

			@include desktopM {
				font-size: 30px;
			}
			@include tabletL {
				font-size: 30px;
			}
			@include mobileL {
				font-size: 30px;
			}
			@include mobileS {
				font-size: 30px;
			}
		}
	}
}

