@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1000;
	background-color: $gray-color-900;
	backdrop-filter: blur(5px);
	padding: 10px 23px;
	transition: $transition;

	> div {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> :last-child {
			margin-left: 25px;
		}
	}
}

.up {
	transform: translateY(0px);
	background-color: $gray-transparent-color-900;
	box-shadow: 0 10px 30px -10px $gray-color-900;
}

.down {
	transform: translateY(calc(70px) * -1);
}