.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1000;
	background-color: transparent;
	padding: 10px 40px;

	> div {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> :last-child {
			
			margin-left: 82px;

			@media(max-width: 768px) {
				margin-left: 25px;
			}
		}
	}
	
	@media(max-width: 768px) {
		padding: 10px 20px;
	}
}