@media(max-width: 1200px){
	.burger {
		display: flex;
		cursor: pointer;
		position: relative;
		border: none;
		padding: 0;
		
	
		> span {
			height: 2px;
			width: 30px;
			background-color: white;
			transition-duration: .2s;
			transition-delay: .2s;	
	
			&::before {
				left: 0;
				position: absolute;
				top: -8px;
				height: 2px;
				width: 35px;
				background-color: rgb(255, 255, 255);
				content: "";
				transition-duration: .2s;
				transition: transform .2s, top .2s .2s;
			}
	
			&::after {
				left: 0;
				position: absolute;
				top: 8px;
				height: 2px;
				width: 35px;
				background-color:rgb(255, 255, 255);
				content: "";
				transition-duration: .2s;
				transition: transform .2s, top .2s .2s;
			}
		}
	}

	.active {
		display: flex;
		cursor: pointer;
		position: relative;
		border: none;
		padding: 0;
	
		> span {
			height: 0px;
			transition-duration: .2s;
			transition-delay: .2s;
			background-color: none;
			background: transparent;
	
			&::before {
				transition: top .2s, transform .2s .2s;
				top: 0px;
				transform: rotateZ(-45deg);
			}
	
			&::after {
				transition: top 0.4s, transform .2s .2s;
				top: 0px;
				transform: rotateZ(45deg);
			}
		}
	}
}
