@import 'app/assets/styles/mixins';

.slider {
	position: relative;
	width: 100%;

	.slide {
		position: relative;
		height: 320px;
		border-radius: 24px;
		overflow: hidden;
		box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.68);
		align-items: flex-end;
		display: flex;
	
		@include fade-bg-gradient();

		.image {
			object-position: center;
			object-fit: cover;
			pointer-events: none;
		}

		.content {
			position: relative;
			z-index: 2;
			padding: 32px;

			.heading {
				color: rgb(255 255 255 / 1);
				text-transform: uppercase;
				font-size: 48px;
  			line-height: 1;
				font-weight: 600;
				margin-bottom: 4px;
				text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
 
				@include tabletL{
					font-size: 40px;
					margin-bottom: 4px;
				}
				@include mobileL{
					font-size: 30px;
					margin-bottom: 3px;
				}
				@include mobileS{
					font-size: 18px;
					margin-bottom: 2px;
				}
			}

			.subHeading {
  			color: rgb(217 218 232 / 1);
				font-weight: 500;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 16px;
				text-shadow: 1px 1px rgba(0, 0, 0, 0.4);

				
				@include tabletL{
					margin-bottom: 10px;
					font-size: 13px;
				}
				@include mobileL{
					margin-bottom: 6px;
					font-size: 10px;
				}
				@include mobileS{
					margin-bottom: 2px;
					font-size: 8px;
				}
			}

			.button {
				background-color: #E30B13;
				color: #fff;
				border-radius: 10px;
				transition: background-color .3s ease-in-out;
				padding: 8px 40px;

				&:hover {
					background-color: #ff0009;
				}
				
				@include tabletL{
					font-size: 14px;
					padding: 6px 35px;
					border-radius: 8px;
				}
				@include mobileL{
					font-size: 12px;
					padding: 4px 30px;
					border-radius: 8px;
				}
				@include mobileS{
					font-size: 10px;
					padding: 2px 20px;
					border-radius: 4px;
				}
			}

			@include desktopM{
				padding: 32px
			}
			@include desktopXS{	
				padding: 25px
			}
			@include tabletL{
				padding: 20px
			}
			@include mobileL{
				padding: 15px
			}
			@include mobileS{
				padding: 10px
			}
		}

		// 1400 1200 900 768 600 480 330
		@include desktopL{
			height: 250px;
			border-radius: 20px;
			box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.68);
		}
		@include desktopM{
			height: 300px;
			border-radius: 20px;
			box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.68);
		}
		@include desktopXS{
			height: 250px;
			border-radius: 15px;
			box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.68);
		}	
		@include tabletL{	
			height: 200px;
			border-radius: 15px;
			box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.68);
		}
		@include mobileL{
			height: 150px;
			border-radius: 10px;
			box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.68);
		}
		@include mobileS{
			height: 100px;
			border-radius: 10px;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.68);
		}
	}
}

