@import 'app/assets/styles/mixins';

.slider {
	position: relative;
	width: 100%;


	.slide {
		position: relative;

		height: 320px;
		border-radius: 24px;
		overflow: hidden;
		box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.68);
		align-items: flex-end;
		display: flex;
	
		@include fade-bg-gradient();

		.image {
			object-position: center;
			object-fit: cover;
			pointer-events: none;
		}

		.content {
			position: relative;
			z-index: 2;
			padding: 32px;

			.heading {
				color: rgb(255 255 255 / 1);
				text-transform: uppercase;
				font-size: 48px;
  			line-height: 1;
				font-weight: 600;
				margin-bottom: 4px;
				text-shadow: 1px 1px rgba(0, 0, 0, 0.4);

				@media (max-width: 768px){
					font-size: 40px;
					margin-bottom: 4px;
				}
				@media (max-width: 480px){
					font-size: 30px;
					margin-bottom: 3px;
				}
				@media (max-width: 320px){
					font-size: 18px;
					margin-bottom: 2px;
				}
			}

			.subHeading {
  			color: rgb(217 218 232 / 1);
				font-weight: 500;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 16px;
				text-shadow: 1px 1px rgba(0, 0, 0, 0.4);

				
				@media (max-width: 768px){
					margin-bottom: 10px;
					font-size: 13px;
				}
				@media (max-width: 480px){
					margin-bottom: 6px;
					font-size: 10px;
				}
				@media (max-width: 320px){
					margin-bottom: 2px;
					font-size: 8px;
				}
			}

			.button {
				background-color: #E30B13;
				color: #fff;
				border-radius: 10px;
				transition: background-color .3s ease-in-out;
				padding: 8px 40px;

				&:hover {
					background-color: #ff0009;
				}
				
				
				@media (max-width: 768px){
					font-size: 14px;
					padding: 6px 35px;
					border-radius: 8px;
				}
				@media (max-width: 480px){
					font-size: 12px;
					padding: 4px 30px;
					border-radius: 8px;
				}
				@media (max-width: 320px){
					font-size: 10px;
					padding: 2px 20px;
					border-radius: 4px;
				}

			}

			
			@media (max-width: 1200px){
				padding: 32px
			}
			@media (max-width: 992px){	
				padding: 25px
			}
			@media (max-width: 768px){
				padding: 20px
			}
			@media (max-width: 480px){
				padding: 15px
			}
			@media (max-width: 320px){
				padding: 10px
			}
		}

	
		@media (max-width: 992px){	
			height: 250px;
			border-radius: 20px;
			box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.68);
		}
		@media (max-width: 768px){
			height: 200px;
			border-radius: 15px;
			box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.68);
		}
		@media (max-width: 480px){
			height: 150px;
			border-radius: 10px;
			box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.68);
		}
		@media (max-width: 320px){
			height: 100px;
			border-radius: 5px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.68);

			
		}
	}


	// @media (max-width: 480px){
	// 	button {
	// 	bottom: 32px;
	// }

	// 	button:first-child {
	// 		right: 60px;
	// 	}
	
	// 	button:last-child {
	// 		right: 30px;
	// 	}
	// }

	// @media (max-width: 320px){
	// 	button {
	// 		bottom: 32px;
	// 	}

	// 	button:first-child {
	// 		right: 35px;
	// 	}
	
	// 	button:last-child {
	// 		right: 10px;
	// 	}
	// }

	// @media (max-width: 992px){	
	// 	bottom: 25px;
	// }
	// @media (max-width: 768px){
	// 	bottom: 20px;
	// }
	
}

