@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.heading{
  color: $white-color;
	font-weight: 600;
	padding-top: 40px;
	margin-bottom: 40px;
	font-size: 38px;

	@include desktopM{
		font-size: 34px;
		padding-top: 35px;
		margin-bottom: 35px;
	}
	@include desktopXS{	
		font-size: 30px;
		padding-top: 30px;
		margin-bottom: 30px;
	}
	@include tabletL{
		font-size: 27px;
		padding-top: 25px;
		margin-bottom: 25px;
	}
	@include mobileL{
		font-size: 25px;
		padding-top: 20px;
		margin-bottom: 20px;
	}
	@include mobileS{
		font-size: 24px;
		padding-top: 15px;
		margin-bottom: 15px;
	}

}

.subHeading{
	color: $white-color;
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 20px;

	@include desktopM{
		font-size: 26px;
	}
	@include desktopXS{	
		font-size: 24px;
	}
	@include tabletL{
		font-size: 22px;
		margin-bottom: 15px;
	}
	@include mobileL{
		font-size: 20px;
	}
	@include mobileS{
		font-size: 18px;
		margin-bottom: 10px;
	}
}

.description {
	font-size: $fz-lg;
	font-weight: 300;
	color: rgba($white-color, .6);

	@include tabletL{
		font-size: $fz-sm;
	}

}

.MenuHeading{
	color: $gray-color-300;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
	
	@include desktopM{
		text-align: center;
		font-size: 12px;
		line-height: 12px;
	}
}