.heading{
  color: var(--white-color);
	font-weight: 600;
	margin-bottom: 32px;
	font-size: var(--fz-heading);
  line-height: 28px;

	@media (max-width: 1200px){
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 992px){	
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 768px){
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 480px){
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 320px){
		margin-bottom: 32px;
		line-height: 28px;
	}

}

.subHeading{
	color: var(--white-color);
	font-weight: 600;
	font-size: var(--fz-sub-heading);
	margin-bottom: 20px;
	
	@media (max-width: 1200px){
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 992px){	
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 768px){
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 480px){
		margin-bottom: 32px;
		line-height: 28px;
	}
	@media (max-width: 320px){
		margin-bottom: 32px;
		line-height: 28px;
	}
}

.description {

}

.MenuHeading{
	color: var(--gray-color-300);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 20px;
	
	@media(max-width: 1200px){
		text-align: center;
		font-size: 12px;
		line-height: 12px;
	}
}