@import 'app/assets/styles/mixins';


.banner {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 270px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
	

	@include fade-bg-gradient();

	@include desktopL {
		height: 225px;
		border-radius: 20px;
	}
	@include desktopM{
		height: 270px;
		border-radius: 25px;
	}	
	@include tabletL{	
		height: 225px;
		border-radius: 20px;
	}
	@include mobileL{
		height: 180px;
		border-radius: 15px;
	}
	@include mobileS{
		height: 135px;
		border-radius: 10px;
	}
}
