@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.button {
	// @apply absolute right-0 bottom-20 pt-8 bg-no-repeat w-24 h-16 bg-left mx-auto bg-transparent;
	position: absolute;
	right: 0px;
	bottom: 80px;
	width: 96px;
	height: 64px;
	background-position: left;
	background-color: transparent;
	background-size: 2900%;

	@include tabletL{
		bottom: 60px;
		width: 76px;
		height: 50px;
	}
	@include mobileL{
		bottom: 40px;

	}
	@include mobileS{
		bottom: 20px;
	}
}

.animate {
	animation: heart-burst 0.8s steps(28) forwards;
}


