@import 'assets/styles/variables';
@import 'assets/styles/mixins';
	//?
.item {
	@apply flex items-center justify-between bg-gray-700 bg-opacity-20 mt-4 px-5 rounded-lg transition-colors hover:bg-opacity-50;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb($gray-color-700, .2);
	margin-top: 16px;
	padding-left: 20px;
  padding-right: 20px;
	border-radius: 8px;
	transition: $transition;

	&:hover {
		background-color: rgb($gray-color-700, 1);
	}

	> div {
		@apply text-white text-opacity-80 py-3;
		color: $white-color;
		padding-top: 12px;
  	padding-bottom: 12px;
		
		width: 24%;

		&:last-child {
			text-align: right;
			justify-content: flex-end;
		}
	}
}

.itemHeader {
	@apply bg-primary bg-opacity-20 shadow-lg mt-8 hover:bg-opacity-20;
	background-color: $primary-color;
	margin-top: 32px;

	&:hover {

	}
	> div {
		@apply text-opacity-90 font-semibold py-2.5;
	}
}

.notFound {
	@apply text-lg text-white text-opacity-60 text-center py-3;
	font-size: $fz-lg;
  line-height: $fz-lg;
	color: $white-color;
	text-align: center;
	padding-top: 12px;
  padding-bottom: 12px;
}
