@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.wrapper {
	margin-top: 0px;

	> form {
		margin-left: auto;
 	 	margin-right: auto;
		width: 50%;
		border-radius: 0.8rem/* 12.8px */;
		background-color: #101215;
		color: #fff;
		box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
		text-align: center;

		.buttons {
			margin-top: 3rem/* 48px */;
			--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
			--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
			box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

			> button {
				&:first-child {
					border-top-right-radius: 0px;
  				border-bottom-right-radius: 0px;
				}

				&:last-child {
					border-top-left-radius: 0px;
  				border-bottom-left-radius: 0px;
					opacity: 0.8;
					background-color: #8f050b;
					transition-property: opacity;
					transition-timing-function: ease-in-out;
					transition-duration: 200ms;

					:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
