@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.badge {
	text-transform: uppercase;
	position: absolute;
	top: 24px;
	right: 12px;
	cursor: pointer;
	border-radius: 8px;
	padding: 2px 8px;
	transition: $transition;
	border-color: $gray-color-500;
	background-color: $gray-color-500;
	font-size: $fz-xxs;
	line-height: 16px;
	color: $gray-color-800;

	&:hover {
		background-color: $gray-color-300;
	}
}

